.login{
  width: 100%;
  height: 100%;
  background-image: url("https://p26-tt.byteimg.com/origin/user-profile/f3cfd10a79df1315c17833948e975fc5.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  .logo{
    color:rgb(3,174,189);
    font-size: 30px;
    // font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    img{
      width: 74px;
      vertical-align: middle;
    }
  }
  .login-input{
    width:290px;
    padding: 10px;
    margin-top: 10px;
    .el-input{
      // margin-bottom: 20px;
      .el-input__inner{
        //border-radius: 30px!important;
        text-align: center;
      }
    }
    .el-button{
      border-radius: 5px!important;
      width: 150px;
      background: rgb(3,174,189);
      color: #fff;
      border: 0;
      margin: 0 50px;
    }
    .signImage{
      border-radius: 5px!important;
      margin-left: 170px;
      width: 120px;
      height: 40px;
      background: white;
    }
    #yzm{
      width:45%;
      float: left;
    }
    .el-form-item__content{
      text-align: center;
    }

  }

}